<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace属性: 用于指定当前的映射文件和哪个接口进行映射，需要指定接口的文件路径，需要标注包的完整接口路径-->
<mapper namespace="com.ss.store.mapper.AddressMapper">
    <resultMap id="AddressEntityMap" type="com.ss.store.entity.Address">
        <id column="aid" property="aid"></id>
        <result column="province_name" property="provinceName"></result>
        <result column="province_code" property="provinceCode"></result>
        <result column="city_name" property="cityName"></result>
        <result column="city_code" property="cityCode"></result>
        <result column="area_name" property="areaName"></result>
        <result column="area_code" property="areaCode"></result>
        <result column="is_default" property="isDefault"></result>
        <result column="created_user" property="createdUser"></result>
        <result column="create_time" property="createTime"></result>
        <result column="modified_user" property="modifiedUser"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>
    <insert id="insert" useGeneratedKeys="true" keyProperty="aid">
        insert into t_address (
                               uid, name, province_name, province_code, city_name, city_code, area_name, area_code,
                               zip, address, phone, tel, tag, is_default, created_user, create_time, modified_user,
                               modified_time
                               ) VALUES (
                                         #{uid},#{name},#{provinceName},#{provinceCode},#{cityName},#{cityCode},
                                         #{areaName},#{areaCode},#{zip},#{address},#{phone},#{tel},#{tag},
                                         #{isDefault},#{createdUser},#{createTime},#{modifiedUser},#{modifiedTime}
                                                )
    </insert>
    <update id="updateNonDefault">
        update t_address
        set is_default=0
        where uid=#{uid}
    </update>
    <update id="updateDefaultByAid">
        update t_address
        set is_default=1,modified_user=#{modifiedUser},modified_time=#{modifiedTime}
        where aid=#{aid}
    </update>
    <delete id="deleteByAid">
        delete from t_address where aid=#{aid}
    </delete>
    <select id="countByUid" resultType="java.lang.Integer">
        select count(*) from t_address where uid=#{uid}
    </select>
    <select id="findByUid" resultMap="AddressEntityMap" resultType="com.ss.store.entity.Address">
        select * from t_address where uid=#{uid}
        order by is_default desc, create_time desc
    </select>
    <select id="findByAid" resultMap="AddressEntityMap" resultType="com.ss.store.entity.Address">
        select * from t_address where aid=#{aid}
    </select>
    <select id="findLastModified" resultMap="AddressEntityMap" resultType="com.ss.store.entity.Address">
        select * from t_address
        where uid=#{uid}
        order by modified_time desc limit 0,1
    </select>
</mapper>