<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace属性: 用于指定当前的映射文件和哪个接口进行映射，需要指定接口的文件路径，需要标注包的完整接口路径-->
<mapper namespace="com.ss.store.mapper.DistrictMapper">
    <select id="findByParent" resultType="com.ss.store.entity.District">
        select * from t_dict_district where parent=#{parent}
        order by code asc
    </select>
    <select id="findNameByCode" resultType="java.lang.String">
        select name from t_dict_district where code=#{code}
    </select>
</mapper>